.root {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  opacity: 0.8;
  image-rendering: pixelated;
}
